/*
Blue #8dd0ff
Sidebar 2a323d
Background 20262e

*/

body {
font-size: 14px;
}

.text-overflow-ellipsis{
  overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

.overflow-hidden{
  overflow: hidden;
}

h3{
  margin: 2px;
}

h4{
  margin: 2px;
  margin-bottom: 1vh;
}

.margin-left-10{
  margin-left: 10px;
}


.size{
  margin: 2px;
}

.flex-row{
  display:flex;
  flex-direction: row;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.justify-space-between{
  justify-content: space-between;
}

.justify-center{
  justify-content: center;
}


.justify-end{
  justify-content: flex-end;
}

.align-center{
  align-items: center;
}

.flex-grow{
  flex-grow: 1;
  flex-basis: 0;
}

.flex-wrap{
  flex-wrap: wrap;
}

.gap-5{
  gap:0.5 vh;
}

.gap-10{
  gap:1vh;
}

.gap-20{
  gap:2vh;
}

.gap-30{
  gap:3vh;
}

.gap-40{
  gap:4vh;
}

.height-100{
  height:100vh;
}


button{
  cursor: pointer;
  background-color: #8dd0ff;
  border: none;
  border-radius: 5px;
  box-shadow: 4px;
  padding: 1vh;
  font-size: 1.2em;
}

button:hover{
  background-color: #7cbfee;
}

.header-panel{
  padding:0 20px;
  background-color: #1b1f27 ;
 }

.nav-bar{
  text-decoration: none;
  list-style: none;
}

.active{
  background-color: #8dd0ff;
  color: black;
}

ul{
  margin:0;
}

li{
  padding: 1.5vh;
  cursor: pointer;
}

.nav-bar li:hover{
  text-decoration: underline;
}

.warenkorb{
  background-color: #2a323d;
  padding: 20px;

}

.warenkorb-content{
  width: 250px;
}  


.price-label{
  width: 5ch;
  display: inline-block;
  text-align: right;
}

.main-content{
  overflow: hidden;
  padding: 20px;
  overflow-y: auto;
}

.product-entry-panel{
  border-radius: 4px;
  padding: 10px 15px;
  background-color: #2a323d;
}

.productName{
  margin-bottom: 5px;
}

.variant{
  width: 80px;
  padding: 2.5vh 1vh;
  background-color: #3f4b5b;
  border-radius: 4px;
  cursor: pointer;
}

.variant:hover{
  background-color: #545f6e;
}

.variant-icon{
  height:6vh;
}

.minus{
  border-radius: 100%;
  padding:3px;
  width:40px;
  height:40px;
}

.minus > img{
  margin-top: 5px;
}

.result-panel{
 height: 5vh;
 background-color: #3f4b5b ;
 padding:10px 80px;
}


